<app-header></app-header>
<div class="row">
    <div class="col-md-12 wrapper d-flex justify-content-center align-items-center" style="height:95vh">
        <div class="row d-flex justify-content-center align-items-center formwrapper card">
            <form name="form" [formGroup] = "form" (ngSubmit) = "form.valid && onSubmit()">
                <div class="col-md-12 mt-4 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <button class="button" routerLink="/signup">Sign Up </button>
                        <button class="button" routerLink="/login">Login</button>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control"  formControlName="email" [ngClass]="{ 'is-invalid':form.get('email').touched && form.get('email').invalid}" autocomplete="off" type="email" placeholder="Email">
                        <div class="invalid-feedback">
                            <div *ngIf="form.get('email').errors?.required">
                                This Field is required!!
                            </div>
                            <div *ngIf="form.get('email').errors?.email">
                                Enter Valid Email Address!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control"  formControlName="fullname" [ngClass]="{ 'is-invalid':form.get('fullname').touched && form.get('fullname').invalid}" type="text" placeholder="Full Name">
                        <div class="invalid-feedback">
                            <div>
                                This Field is required!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control"  formControlName="mobno" [ngClass]="{ 'is-invalid':form.get('mobno').touched && form.get('mobno').invalid}" type="text" placeholder="Mobile Number">
                        <div class="invalid-feedback">
                            <div>
                                This Field is required!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control" formControlName="password" [ngClass]="{ 'is-invalid':form.get('password').touched && form.get('password').invalid }" type="password" placeholder="Password">
                        <div class="invalid-feedback">
                            <div>
                                This Field is required!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control" type="Password" formControlName="confPassword" [ngClass]="{ 'is-invalid':form.get('confPassword').touched && form.get('confPassword').invalid }" formControlName="confPassword" placeholder="Confirm Password">
                        <div class="invalid-feedback">
                            <div *ngIf="form.get('confPassword').errors?.required">
                                This Field is required!!
                            </div>
                            <div *ngIf="form.get('confPassword').errors?.isError">
                                Password does not match!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2 mb-5 d-flex flex-row justify-content-center">
                    <div class="m-1 mt-4">
                        <button class="button" type="reset">Reset</button>
                        <button class="button" [disabled]="!form.valid">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>