<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Don't wait in Queue...</b></h1>
        <h2>Book Your Slot Now!!</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn"(click)='checkSession()' >Book Now</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/city-driver-concept-illustration_114360-1209.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economical</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Fast</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Easy Booking</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div>


<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/coronavirus-border-closure-concept-illustration_114360-1753.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h1><b>How It Works?</b></h1>
        <p>When you're on the go, the free My-Parking makes it easy to find and pay for parking without running back to feed the meter. <br> 
            And for added convenience, you can reserve spots ahead of time.<br>
            When you're looking for a spot in the moment or want to reserve a space ahead of time, ParkMobile puts the power in the palm of your hand.
        </p>
        <br>
        <div>
            <button class="getquotebtn" (click)='checkSession()'>Book Now</button>
        </div>
    </div>
</div>